@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Outfit:wght@700&family=Poppins:wght@600;700&display=swap');


.Cont_01{
    width: 80%;
    height: 400px;
    
}

.title_Front{
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    text-align: start;
}

.descrizione{
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    text-align: start;
}

.svg_1{
    color: #212529;
}

.Tech_stack{
    text-align: start;
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    font-weight: 600;
}

.Logo_img{
    width: 50px;
    margin-left: 22px;
}

.Profile_img{
    width: 300px;
    height: 300px;
    margin-left: 45px;
}

